<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fincific.Data.Properties.Settings.finDev4ConnectionString"
            connectionString="Data Source=lin.arvixe.com;Initial Catalog=finDev4;Persist Security Info=True;User ID=FinDev;Password=sql4FinDev"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>